.carousel-item img{
    height: 600px;
    object-fit: cover;
}
.new{
    display: flex;
    padding: 20px;
    gap: 45px;
    background: linear-gradient(75deg,white,black);
}
.card{
    
    border-radius: 10px;
    height: 100%;
}
.card-title{
    text-shadow:2px 2px 10px rgba(0,0,0,0.7);
    font-weight: bold; 
}
.card-text{
    font-size: 15px;
    opacity: 0.9;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(58, 59, 61);
    
}
.card img{
    height: 200px;
    object-fit: cover;
}

.icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: 0.3s;
    opacity: 0.9;
    padding-right: 5px;
}
.icon:hover {
    transform: translateY(-5px);
    cursor: pointer;
}