 body {
           margin: 0;
           font-family: Arial, sans-serif;
          }
        .footer{
          background-color: #f2f2f2;
          padding: 50px 80px;
        }
        .container{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        .column{
          width: 30%;
          min-width: 250px;
        }
        h3{
          font-size: 22px;
          margin-bottom: 15px;
          color: #222;
        }
        ul {
          list-style: none;
          padding: 0;
        }
        ul li {
          margin-bottom: 10px;
          color: #555;
          cursor: pointer;
          transition: 0.3s;
        }
        ul li:hover {
          color: #000;
        }
        .mt {
          margin-top: 40px;
        }
        .icons{
          display: flex;
          justify-content: center;   /* center horizontally */
          align-items: center;
          gap: 30px;                 /* space between icons */
          padding: 30px 0;
          
        }
        .social{
          font-size: 32px;
          height: 28px;
          width: 28px;
          color: #555;
          cursor: pointer;
          transition: 0.3s;
        }
        .social:hover{
          transform: scale(1.2);
          color: black;
        }
        .icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: 0.3s;
    opacity: 0.9;
    padding-right: 5px;
}
       .icon:hover {
          transform: translateY(-5px);
            cursor: pointer;
          }
          .foot{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            color: #444;
          }
          .para{
            font-size: 15px;
            font-weight: bold;
            padding-top: 10px;
             gap: 30px;
            color: #444;  
          }
          .para:hover{
            cursor: pointer;
            color: black;
          }
          .form{
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 10px;
          }
          .form-title{
            font-size: 25px;
            padding-top: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            opacity: 0.9;
          }
          .input-container{
            position: relative;
          }
          .input-container input, .form button {
            outline: none;
            border: 1px solid #e5e7eb;
            margin: 8px 0;
          }
          .input-container input{
            background-color: #fff;
            padding: 1rem;
            padding-right: 3rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            width: 300px;
            border-radius: 0.5rem;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          }
          .submit{
            display: block;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            background-color: #443faf;
            color: #ffffff;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            width: 100%;
            border-radius: 0.5rem;
            text-transform: uppercase;
          }
          .submit:hover{
            background-color: #342f97;
          }
          .signup-link {
            color: #6B7280;
            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: center;
          }
          .signup-link a {
            text-decoration: underline;
          }

