*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon{
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: 0.3s;
    opacity: 0.9;
    padding-right: 5px;
}
.icon:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.page{
    display: flex;
    padding: 20px;
    gap: 45px;
    background: linear-gradient(75deg,rgb(216, 172, 90),rgb(219, 116, 79));
}
.page p{
    font-weight: bold;
    opacity: 0.9;
}
        

        .car-img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .price {
            font-size: 22px;
            font-weight: 600;
        }

        .emi-box {
            background: #eef1f3;
            padding: 15px;
            border-radius: 10px;
        }

        .offer-btn {
            background: #e52d12;
            color: white;
            font-weight: 600;
            border-radius: 10px;
            padding: 12px;
        }

        .offer-btn:hover {
            background: #c8260f;
        }