*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.position-absolute{
text-shadow:2px 2px 10px rgba(0,0,0,0.7);
}

.top-25{
top:25%;
}

.bottom-25{
bottom:25%;
}

h1,p{
text-shadow:2px 2px 10px rgba(0,0,0,0.7);
}
.position-relative img{
height:300px;
object-fit:cover;
}
.main{
    width: 100%;
    padding: 20px;
}
